<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='home.css') }}">

<title>Game</title>

<div class="container">
    <h1>Shooting Game</h1>
    <div class="create-room">
        <form>
            <div class="form-group">
                <button type="button" class="createRoom">Create Room</button>
            </div>
        </form>
    </div>
</div>


<script>
    function makeID(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }
    
    let p2btn = document.querySelector(".createRoom");
    p2btn.addEventListener("click", function() {
        location.replace(window.location.href + "game/" + makeID(6))
    });
</script>
